<ion-header>

  <ion-toolbar>
    <ion-title class="header">Book Your Favorite Hotels Here </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
  <ion-col size-md="4" size="12">
    <ion-card class="cards" href="account">
      <img aclass="img" src="../../assets/sayaji.jpg" />
        <div class="overlay">
        <div class="text">Hotel <b>Book Now</b></div>
      </div>
    </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12">
    <ion-card class="cards" href="account">
      <img class="img" src="../../assets/hotel1.jpg" />
      <div class="overlay">
        <div class="text">Hotel <b>Book Now</b></div>
      </div>               
    </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12">
  <ion-card class="cards" href="account"> 
    <img class="img" src="../../assets/hotel2.jpg" />
    <div class="overlay">
      <div class="text">Hotel <b>Book Now</b></div>
    </div>
  </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12" >
  <ion-card class="cards" href="account">
    <img class="img" class="img" src="../../assets/hotel3.jpg" />
    <div class="overlay">
      <div class="text">Hotel<b>Book Now</b></div>
    </div>
  </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12">     
  <ion-card class="cards" href="account">
    <img class="img" src="../../assets/hotel4.jpeg" />
    <div class="overlay">
      <div class="text">Hotel <b>Book Now</b></div>
    </div>
  </ion-card>
  </ion-col>
  <ion-col size-md="4" size="12">
    <ion-card class="cards" href="account">
      <img class="img" src="../../assets/hotel5.jpeg" />
      <div class="overlay">
        <div class="text">Hotel <b>Book Now</b></div>
      </div>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>